---
import SectionOneColumn from '../../components/SectionOneColumn.astro';
import MainLayout from '../../layouts/MainLayout.astro';

const title = "Blog";
const description = "Blog posts by Cat";

export async function getStaticPaths({ paginate }) {
    const allPosts = Object.values(await import.meta.glob('../blog/*.mdx', { eager: true }));
    const formattedPosts = allPosts.sort((a, b) => new Date(a.frontmatter.pubDate) - new Date(b.frontmatter.pubDate)).reverse();

    return paginate(formattedPosts, {
        pageSize: 5,
    })
}
const { page } = Astro.props;
---
<MainLayout title={title} description={description}>
    <SectionOneColumn>
        <p class="text-center">Showing {page.start + 1}-{page.end + 1} of {page.total} total posts</p>
        {
            page.data.map((post) => (
                <div class="card subtle">
                    <h3>{post.frontmatter.title}</h3>
                    <p><b>Published:</b> {post.frontmatter.pubDate.toString().slice(0, 10)}</p>
                    <p>{post.frontmatter.description}</p>
                    <div><a href={post.url}>Read more...</a></div>
                </div>
            ))
        }

        {page.url.prev ? <a href={page.url.prev}>Prev</a> : null}
        {page.url.next ? <a href={page.url.next}>Next</a> : null}
    </SectionOneColumn>
</MainLayout>