---
const { title, description } = Astro.props;
---
<head>
    <title>{title} - Last Sunrise v3</title>
    <meta name="title" content={`Last Sunrise - ${title}`}>
    <meta name="author" content="Cat Leff">
    <meta name="description" content={description}>
    <meta name="keywords" content="neocities, nekoweb, yesterweb, indie web, old web, small web, art, cats, fansite, retro, personal, lgbtq, blue, yellow"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="sitemap" href="/sitemap-0.xml" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.toString()} />
    <meta property="og:title" content={`Last Sunrise v3 - ${title}`} />
    <meta property="og:site_name" content="Last Sunrise" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="LINK" />
    
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="English">
    <meta name="generator" content={Astro.generator}>
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="0 days">

</head>