---
import { getCollection } from "astro:content";
import SimsLayout from "../../../layouts/SimsLayout.astro";

export async function getStaticPaths() {
    const sims = await getCollection("simsCast");
    
    const paths = sims.flatMap(sim => {
        return sim.data.generation.flatMap(gen => {
            return gen.cast.map(char => ({
                params: { sim: char.name.toLowerCase().replace(" ", "-") },
                props: {
                    char,
                    generation: gen.number
                }
            }))
        })
    })

    // Okay this code is a lot . note for my future self trying to comprehend this: when accessing deeply nested JSON data you need to explain exactly how to find the data you want via flatmaps
    // All this function is doing is making a list of paths to generate, returning each layer of data step by step, and then passing the character info props

    return paths;
}

const { char, generation } = Astro.props;
---
<SimsLayout title={char.name}>
    <div class="row">
        <div class="col-6">
            <img id="referenceImage" width="100" src={char.images[0].youngadultsrc}></img>
            
            {char.images[0].teenagesrc && <button>Teenager</button>}
            {char.images[0].youngadultsrc && <button>Young Adult</button>}
            {char.images[0].matureadultsrc && <button>Adult</button>}
        </div>

        <div class="col-6">

        </div>
    </div>

    
    <ul>
        <li><strong>Generation {generation}</strong></li>
        <li><strong>Role: </strong> {char.role}</li>
        <li><strong>Traits:</strong></li>
        <ul>
            {char.trait1 && <li>{char.trait1}</li>}
            {char.trait2 && <li>{char.trait2}</li>}
            {char.trait3 && <li>{char.trait3}</li>}
        </ul>
    </ul>
</SimsLayout>