---
import MainLayout from "../layouts/MainLayout.astro"
import SectionOneColumn from "../components/SectionOneColumn.astro";

const title = "RSS Feeds";
const description = "Links to all the RSS feeds you need to keep up with site updates.";
const extraClasses = "text-center"

const changelogLink = Astro.url.origin + "/changelog-rss.xml"
const blogLink = Astro.url.origin + "/blog-rss.xml"
const artLink = Astro.url.origin + "/art-rss.xml"
---
<style>
    input {
        width: 100%;
    }
</style>

<MainLayout title={title} description={description}>
    <SectionOneColumn extraClasses={extraClasses}>
        <p>Want to keep track of the website as a whole? Or is there one thing you're particularly interested in, like blog posts or art uploads? Regardless, here are some links to copy into your RSS reader of choice!</p>
        <p>As a note, the changelog feed is the most "complete" version of the site's RSS, and encompasses everything else. That said, its descriptions are very short, and probably not the best for an RSS feed used for your morning reading.</p>
        <table class="mt-4 table stripey">
            <tr>
                <th>Changelogs</td>
                <td>
                    <input readonly="readonly" type="text" value={changelogLink}>
                </td>
                <td>(<a href={changelogLink}>X</a>)</td>
            </tr>
            <tr>
                <th>Blog Posts</td>
                <td>
                    <input readonly="readonly" type="text" value={blogLink}>
                </td>
                <td>(<a href={blogLink}>X</a>)</td>
            </tr>
            <tr>
                <th>Art (WIP)</td>
                <td>
                    <input type="text" value={artLink}>
                </td>
                <td>(<a href={artLink}>X</a>)</td>
            </tr>
        </table>
    </SectionOneColumn>
</MainLayout>