---
import fs from "fs/promises";
import path from "path";
import { parseStringPromise } from "xml2js";

import MainLayout from "../layouts/MainLayout.astro";
import SectionOneColumn from "../components/SectionOneColumn.astro";

const sitemapPath = path.resolve("./dist/sitemap-0.xml");
const siteURL = "https://lastsunrise.art";
let urls = [];

const title = "Sitemap";
const description = "A bare-bones list of every page on the website";

try {
    const xmlContent = await fs.readFile(sitemapPath, "utf8");
    const parsed = await parseStringPromise(xmlContent);
    urls = parsed.urlset.url.map((page: any) => page.loc[0].replace(siteURL, "")); // trim off whole url
} catch (error) {
    console.error("OOPS");
}
---
<MainLayout title={title} description={description}>
    <SectionOneColumn title={title}>
        <p>Every page on the site, not including dynamically generated ones.</p>
        <ul>
            {urls.map((url) => (
                <li><a href={url}>home{url}</a></li>
            ))}
        </ul>
    </SectionOneColumn>
</MainLayout>