---
import fs from "fs/promises";
import { parseStringPromise } from "xml2js";
import getFilePath from "../components/scripts/EnvironmentRouter.js";

import MainLayout from "../layouts/MainLayout.astro";
import SectionOneColumn from "../components/SectionOneColumn.astro";

const filename = "sitemap-0.xml";
const siteURL = "https://lastsunrise.art";
let urls = [];

const title = "Sitemap";
const description = "A bare-bones list of every page on the website";

try {
    const sitemapPath = await fetch(`${siteURL}/${filename}`);
    const xmlContent = await sitemapPath.text();
    const parsed = await parseStringPromise(xmlContent);
    urls = parsed.urlset.url.map((page: any) => page.loc[0].replace(siteURL, "")); // trim off whole url
} catch (error) {
    console.error("OOPS", error);
}

const pageCount = urls.length;
---
<MainLayout title={title} description={description}>
    <SectionOneColumn title={title}>
        <p>Every page on the site, not including dynamically generated ones. You can view an XML version of the sitemap <a href="../sitemap-0.xml">here</a>.</p>
        <p>There are currently <b>{pageCount}</b> pages on the website, with <b>0</b> secret pages.</p>
        <ul>
            {urls.map((url) => (
                <li><a href={url}>home{url}</a></li>
            ))}
        </ul>
    </SectionOneColumn>
</MainLayout>