---
import MainLayout from "./MainLayout.astro";
import SectionOneColumn from "../components/SectionOneColumn.astro";

const { frontmatter } = Astro.props;
---
<head>
    <title>{frontmatter.title} - Last Sunrise v3</title>
    <meta property="og:title" content={`Last Sunrise v3 - ${frontmatter.title}`} />
</head>
<MainLayout title="Cat's Blog" description={frontmatter.description}>
    <SectionOneColumn>
        <h3>{frontmatter.title}</h3>
        <p><strong>Published</strong>: {frontmatter.pubDate.toString().slice(0, 10)}</p>
        <p>{frontmatter.description}</p>
        {frontmatter.subpoints && frontmatter.subpoints.length > 0 && (
            <ul>
            {frontmatter.subpoints.map((point: string) => (
                <li>{point}</li>
            ))}
            </ul>
        )}
        
        <slot/>
    </SectionOneColumn>
</MainLayout>