---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/preview.css";
import "../styles/sims.css";
import BlogNextPrevButtons from "../components/BlogNextPrevButtons.astro";

import HeadMeta from "../components/HeadMeta.astro";

const { frontmatter } = Astro.props;
const { title, description, altTitle } = Astro.props;
---
<HeadMeta title={title} description={description}/>

<div class="container">
    <header class="row">
        <h1>Last Simsrise</h1>
    </header>

    <div class="row">
                <h3>{frontmatter.title}</h3>
        <p><a href="/shrines/sims">&#8592; Return to Sims Hub</a></p>
        <p><strong>Published</strong>: {frontmatter.pubDate.toString().slice(0, 10)}</p>
        <p>{frontmatter.description}</p>
        {frontmatter.subpoints && frontmatter.subpoints.length > 0 && (
            <ul>
            {frontmatter.subpoints.map((point: string) => (
                <li>{point}</li>
            ))}
            </ul>
        )}
        <hr/>

        <slot/>

        <hr/>
        <BlogNextPrevButtons/>
    </div>
</div>

<script is:inline src="/scripts/ClickImage.js"></script>