---
import SimsLayout from "./SimsLayout.astro";
import BlogNextPrevButtons from "../components/BlogNextPrevButtons.astro";

const { frontmatter } = Astro.props;
---
<SimsLayout altTitle={frontmatter.altTitle} title={frontmatter.title} description={frontmatter.description}>
    <h3>{frontmatter.generation}.{frontmatter.chapter} - {frontmatter.title}</h3>
    <p><strong>Published</strong>: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>{frontmatter.description}</p>
    <BlogNextPrevButtons/>
    <hr/>

    <slot/>

    <hr/>
    <BlogNextPrevButtons/>
</SimsLayout>